<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
</head>
<body>
<footer>
    <p>(주)다은네셔널유니버시티&nbsp; &nbsp; &nbsp;  대표 : 정다은 &nbsp; &nbsp; &nbsp; 주소 : 경상남도 밀양시 삼랑진읍 숭진석탑길 70-34
        <br>
        개인정보보호담당자 : 정다은(ekdms8652@pusan.ac.kr) &nbsp; &nbsp; &nbsp; 사업자정보확인 : 617-25-86868
    </p>
</footer>
</body>
</html>
