<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/login_required.css">
    <title>๋ก๊ทธ์ธ ํ์</title>
</head>
<body>
<h2><%= message %></h2>
<a href="/auth">๐ ๋ก๊ทธ์ธํ๋ฌ ๊ฐ๊ธฐ</a>
</body>
</html>
